.content .marker-thickRed {
    background: linear-gradient(transparent 35%, #FFC6C6 35%)
}

.content .marker-thickBlue {
    background: linear-gradient(transparent 35%, #cce5ff 35%)
}

.content .marker-thickYellow {
    background: linear-gradient(transparent 35%, #ffffbc 35%)
}

.content .marker-thickPink {
    background: linear-gradient(transparent 35%, #FFDFEF 35%)
}

.content .marker-thickGreen {
    background: linear-gradient(transparent 35%, #D2FFD2 35%)
}

.content .marker-thickGray {
    background: linear-gradient(transparent 35%, #d8d8d8 35%)
}

.content .marker-halfRed {
    background: linear-gradient(transparent 60%, #FFC6C6 60%)
}

.content .marker-halfBlue {
    background: linear-gradient(transparent 60%, #cce5ff 60%)
}

.content .marker-halfYellow {
    background: linear-gradient(transparent 60%, #ffffbc 60%)
}

.content .marker-halfPink {
    background: linear-gradient(transparent 60%, #FFDFEF 60%)
}

.content .marker-halfGreen {
    background: linear-gradient(transparent 60%, #D2FFD2 60%)
}

.content .marker-halfGray {
    background: linear-gradient(transparent 60%, #d8d8d8 60%)
}

.content .marker-thinRed {
    background: linear-gradient(transparent 85%, #FFC6C6 85%)
}

.content .marker-thinBlue {
    background: linear-gradient(transparent 85%, #cce5ff 85%)
}

.content .marker-thinYellow {
    background: linear-gradient(transparent 85%, #ffffbc 85%)
}

.content .marker-thinPink {
    background: linear-gradient(transparent 85%, #FFDFEF 85%)
}

.content .marker-thinGreen {
    background: linear-gradient(transparent 85%, #D2FFD2 85%)
}

.content .marker-thinGray {
    background: linear-gradient(transparent 85%, #d8d8d8 85%)
}

.content :first-child {
    margin-top: 0
}

.content h2,
.content h3,
.content h4,
.content h5 {
    line-height: 1.5;
    margin-top: 4rem
}

.content h2 {
    font-size: 2.2rem
}

.content h3 {
    font-size: 1.8rem
}

.content h2+h2,
.content h2+h3,
.content h2+h4,
.content h2+h5,
.content h3+h2,
.content h3+h3,
.content h3+h4,
.content h3+h5,
.content h4+h2,
.content h4+h3,
.content h4+h4,
.content h4+h5,
.content h5+h2,
.content h5+h3,
.content h5+h4,
.content h5+h5 {
    margin-top: 2rem
}

.content .balloon:after,
.content .balloon:before {
    clear: both;
    content: "";
    display: block
}

.content .balloon .balloon__img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px
}

.content .balloon .balloon__img-left div,
.content .balloon .balloon__img-right div {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    border-radius: 50%
}

.content .balloon .balloon__img-left {
    float: left;
    margin-right: 15px
}

.content .balloon .balloon__img-right {
    float: right;
    margin-left: 15px
}

.content .balloon .balloon__img-left div {
    background-image: url(../image/img_cat.gif)
}

.content .balloon .balloon__img-right div {
    background-image: url(../image/img_dog.gif)
}

.content .balloon .balloon__img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 0
}

.content .balloon .balloon__name {
    font-size: 1rem;
    text-align: center;
    line-height: 1
}

.content .balloon .balloon__text {
    position: relative;
    padding: 1rem;
    margin: 0;
    border-radius: 5px;
    max-width: calc(100% - 75px);
    display: inline-block;
    background-color: #F2F2F2
}

.content .balloon .balloon__text-left {
    float: right
}

.content .balloon .balloon__text-right {
    float: left
}

.content .balloon .balloon__text::before {
    content: "";
    position: absolute;
    top: 15px;
    border: 10px solid transparent
}

.content .balloon .balloon__text-left::before {
    right: -20px;
    border-left: 10px solid #F2F2F2
}

.content .balloon .balloon__text-right::before {
    left: -20px;
    border-right: 10px solid #F2F2F2
}

.content .balloon-boder .balloon__text {
    border: 1px solid #E5E5E5;
    background-color: #fff
}

.content .balloon-boder .balloon__text:after {
    content: "";
    position: absolute;
    top: 15px;
    border: 10px solid transparent
}

.content .balloon-boder .balloon__text-left:after {
    right: -18px;
    border-left: 10px solid #fff
}

.content .balloon-boder .balloon__text-right:after {
    left: -18px;
    border-right: 10px solid #fff
}

@media only screen and (min-width:768px) {
    .content h3 {
        font-size: 2.2rem
    }
    .content h4 {
        font-size: 1.8rem
    }
    .content h5 {
        font-size: 1.6rem
    }
    .content .balloon .balloon__img,
    .content .balloon .balloon__img-left div,
    .content .balloon .balloon__img-right div {
        width: 80px;
        height: 80px
    }
    .content .balloon .balloon__img-left {
        margin-right: 20px
    }
    .content .balloon .balloon__img-right {
        margin-left: 20px
    }
    .content .balloon .balloon__text {
        max-width: calc(100% - 200px)
    }
}